.custom-container {
    max-width: 78%;
    min-width: 833px;
}

.accordion-button {
    background-color: #292a2b !important;
    color: white !important;
    height: 70px;
}

.accordion-button::after {
    background-image: url("/public/collapse-icon/Group 29.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/public/collapse-icon/Group 29.svg");
}

.accordion-body {
    padding: 0;
}

.row-main {
    color: #CFCFCF;
    font-size: 15px;
}

.row-second {
    color: #9e9e9e;
}

.test {
    color: white !important;
    background-color: #e7eaee !important;
}
