*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

:root{
  --white: #f7f7f7;
  --white-gray:#CFCFCF;
  --black: #0a0a0a;
  --dark: #172A35;
  --dark2:#292A2B;
  --dark3:#4D4D4D;
  --dark4:#9E9E9E;
  --red:#E02735;
}

.rating--wrapper{
  display: flex;
  flex-wrap: nowrap;
}

.rating__degrees{
  display: flex;
  align-items: flex-start;
  letter-spacing: 1.8px;
  color: var(--dark4);
  margin-right: .5rem;
}

.rating__student-degree, .rating__student-max-degree{
  font-size: 1rem;
}

.rating__student-degree{
  color: var(--white);
  margin-right: 5px;
}

.rating__stars{
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
}

.rating__star--filled{
  fill: var(--red);
}

.rating__star--unfilled{
fill: var(--dark3);
}