*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white: #f7f7f7;
  --black: #0a0a0a;
  --dark: #172A35;
}

@font-face {
	font-family: 'Catamaran';
	src: 
		local('../../assets/fonts/catamaran.medium.ttf'),
		format('truetype');
	font-weight: 500;
}

.backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.5;
}

.filtersPanel{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 520px;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--black);
  transform: translate(-50%, -50%);
}

.filtersPanel__head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.filtersPanel__filter{
  margin-bottom: 1rem;
}

.filtersPanel__title, .filtersPanel__subtitle{
  font-weight: 500;
}

.filtersPanel__subtitle{
  margin-bottom: .3em;
}

.filtersPanel__options-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.filtersPanel__element{
  appearance: none;
  padding: .2em;
  border: 0;
  margin-right: 10px;
  background-color: var(--dark);
  color: var(--white);
}