.backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: #0a0a0a;
  opacity: 0.5;
}

.filtersPanel{
  margin-left:auto;
  margin-right: auto;
  background-color: #0a0a0a;
}