 :root{
  --black:#222224;
  --black2:#292A2B;
  --dark:#4d4d4d;
  --dark4:#9E9E9E;
  --white-gray:#CFCFCF;
  --dirty-white:#F7F7F7;
  --red:#e02735;
  --line-height-ratio: 1.68em;
 }

 @font-face {
	font-family: 'Catamaran';
	src: 
		local('../../assets/fonts/catamaran.medium.ttf'),
		format('TrueType');
	font-weight: 500;
}

@font-face {
	font-family: 'Catamaran';
	src: 
		local('../../assets/fonts/catamaran.bold.ttf'),
		format('TrueType');
	font-weight: bold;
}

.wrapper, .student-cv{
  display: flex;
  align-items: flex-start;
}

.wrapper{
  padding:0 12.76vw 0 12.76vw;
  background: var(--black) 0% 0% no-repeat padding-box;
}

.student-cv{
  color:var(--dirty-white);
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  line-height: var(--line-height-ratio);
  gap:4px;
}

.student-panel{
  display: flex;
  flex-direction: column;
  gap:1.2em;
  max-width: 250px;
  padding: 1.5em;
  background-color: var(--black2);
}

.student-panel__identity{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: .5em;
}

.wrapper-img{
  width: 150px;
  height: 150px;
}

.student-panel__contact{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.student-panel__about-me-title{
  color: var(--dark);
}

.student-panel__status-btns{
 display: flex;
 flex-direction: column;
 gap:14px;
}

.student-panel__status-btn{
  appearance: none;
  width: 100%;
  max-width: 200px;
  line-height: 1rem;
  font-size: 1rem;
  padding: .4em .2em;
  border: 0;
  color: var(--dirty-white);
  background-color: var(--red);
  cursor: pointer;
  transition: color .4s , background-color .4s;
}


.student-panel__status-btn:hover{
  color: var(--black);
  background-color: var(--dirty-white);
}

.student-cv__section-title{
  font-size: 1.25rem;
  line-height: 3em;
  padding-left: 1.3rem;
  background-color: var(--black2);
  color: var(--dirty-white);
}

.student-cv__grid{
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 50% 50%;
  padding: .6rem 1.3rem;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.student-cv__grid--6{
  grid-template-columns: repeat(6, auto);
}

.student-cv__grid-title{
  grid-row: 1/2;
  font-size: .9rem;
  line-height: 1.28em;
  color: var(--white-gray);
}

.student-cv__grid-content{
  grid-row: 2/3;
  font-weight: bold;
  color: var(--dirty-white);
  
}

.student-cv__grid-content--placeholder{
  grid-column: 1/-1;
}

.student-cv__text{
  padding: 1rem 1.3rem 2rem 1.3rem;
  color: var(--dirty-white);
}

.student-cv__list{
  list-style: none;
  padding: 1rem 1.3rem 1.3rem 1.3rem;
}

.student-cv__list>li{
  margin-bottom: .67em;
}

.btn-prev-site{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  appearance: none;
  color:var(--dirty-white);
  border: none;
  margin-right: 1rem;
  background-color: transparent;
}
