.container-header-second {
    max-width: 76.2%;
}

.navbar-color {
    background-color: #1E1E1F !important;
}

#collasible-nav-dropdown {
    background-color:  #1E1E1F !important;
}

.dropdown-menu {
    background-color: #1E1E1F !important;
    border-radius: unset !important;
    margin-top: 0.9rem !important;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #1e1e1f;
    box-shadow: rgb(213, 37, 37) 0px 4px;
}

@media screen and (max-width: 768px) {
    .dropdown-menu.show {
        margin: unset !important;
    }
}

