.container {
    width: 27rem;
    background-color: #222225;
}

#formHorizontalEmail {
    border-radius: 0;
    background-color: #292a2c;
    border: none;
}
#formHorizontalEmail:active {
    border: #d52525;
}
#formHorizontalPassword {
    border-radius: 0;
    background-color: #292a2c;
    border: none;
}

#buttonLogin {
    border-radius: 0 !important;
}

.errorP {
    color: #bf1650;
    margin: 0;
    padding-top: 10px;
}
