:root {
  /*zmienne*/
  --primary-color: #222225;
  --secondary-color: #292a2b;
  --popout-color: #0a0a0a;
  --button-color: #e02735;
  --button-color-hover: #931922;
  --text-secondary-color: #c4c4c4;
}

html {
  min-height: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  min-height: 100%;
  height: 100%;
}
#root {
  min-height: 100%;
  height: 100%;
}

.background-blur {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.55;
  overflow: hidden;
  z-index: 98;
}

.modal-center {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--popout-color);
  z-index: 99;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
